@tailwind base;
@tailwind components;
@tailwind utilities;

/* 重置按钮的默认样式 */
@layer base {
  button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}